@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-primary;
}

/* Custom animation for slow soccer ball spin */
@layer utilities {
  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }
}